html,
body {
  margin: 0;
  background-image: radial-gradient(farthest-corner at 45px 45px , #bacef5 0%, #baf1e2 100%);
  background-attachment: fixed;
  font-family: Raleway, sans-serif;
  height: 100%;
  background-repeat: no-repeat;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
  max-width: 85vw;
  margin: 5vh auto 0;
  text-align: center;
  font-size: 18px;
}
.description {
  max-width: 270px;
}
.links a {
  margin: 0 8px;
}
